.day-name-top {
  height: 103px;
  width: 87px;
  position: absolute;
  margin: 0 !important;
  top: -91px;
  left: 32px;
  display: inline-block;
  z-index: 1;
}
.friday1 {
  height: 34px;
  flex: 1;
  position: relative;
  font-size: var(--font-size-17xl);
  display: inline-block;
  z-index: 2;
}
.day-name-container2 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.day-name-separator {
  height: 1px;
  width: 137px;
  position: absolute;
  margin: 0 !important;
  bottom: 31px;
  left: 12px;
  object-fit: contain;
  z-index: 2;
}
.day-name {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-34xl) var(--padding-8xs);
  position: relative;
  margin-top: -12px;
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--color-black);
  font-family: var(--font-headlandone);
}
@media screen and (max-width: 925px) {
  .day-name-top {
    font-size: var(--font-size-32xl);
  }
  .friday1 {
    font-size: var(--font-size-10xl);
  }
}
@media screen and (max-width: 450px) {
  .day-name-top {
    font-size: var(--font-size-19xl);
  }
  .friday1 {
    font-size: var(--font-size-3xl);
  }
}
