.frame-child58 {
  position: absolute;
  top: 5px;
  left: 0;
  background-color: var(--color-snow-200);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 512px;
  height: 46px;
}
.agra1 {
  position: absolute;
  top: 0;
  left: 88px;
  line-height: 44px;
  display: inline-block;
  width: 335px;
  height: 44px;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 1;
}
.rectangle-parent32 {
  height: 51px;
  flex: 1;
  position: relative;
  min-width: 333px;
  max-width: 100%;
}
.frame-child59 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-300);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 59px;
  height: 50px;
  cursor: pointer;
}
.x1 {
  position: absolute;
  top: 1px;
  left: 15px;
  display: inline-block;
  width: 44px;
  height: 61px;
  z-index: 1;
}
.rectangle-parent33 {
  align-self: stretch;
  height: 62px;
  position: relative;
}
.frame-parent80,
.frame-wrapper25 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper25 {
  width: 59px;
  flex-direction: column;
  padding: var(--padding-6xs) 0 0;
  box-sizing: border-box;
  color: var(--color-black);
  font-family: var(--font-gotu);
}
.frame-parent80 {
  width: 616px;
  flex-direction: row;
  gap: var(--gap-26xl);
  max-width: 100%;
}
.frame-child60 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-200);
  border: 3px solid var(--color-black);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.map {
  position: absolute;
  top: 15px;
  left: 32px;
  display: inline-block;
  width: 134px;
  height: 70px;
  z-index: 1;
}
.rectangle-parent34 {
  height: 92px;
  flex: 1;
  position: relative;
  min-width: 113px;
}
.address-icon {
  height: 90px;
  width: 90px;
  position: relative;
  object-fit: cover;
}
.frame-parent81 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.frame-wrapper26 {
  width: 279px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-11xs);
  box-sizing: border-box;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-jost);
}
.frame-parent79 {
  width: 1028px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.top6 {
  margin: 0;
  align-self: stretch;
  height: 76.4px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.top-reviews5 {
  width: 156px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl-5) var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.eviews7,
.r5 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.r5 {
  height: 150.1px;
  width: 88px;
  z-index: 1;
}
.eviews7 {
  align-self: stretch;
  height: 76.4px;
  z-index: 2;
}
.eviews-container,
.r-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.eviews-container {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-40xl-5) 0 0;
  min-width: 175px;
  font-size: var(--font-size-45xl);
}
.r-parent {
  width: 390px;
  flex-direction: row;
  padding: 0 var(--padding-13xl) 0 0;
  row-gap: 20px;
  max-width: 100%;
  margin-left: -8px;
  font-size: var(--font-size-109xl);
}
.from7 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.reviews-source {
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-41xl-5) 0 0;
  box-sizing: border-box;
  margin-left: -8px;
}
.tourists7 {
  margin: 0;
  align-self: stretch;
  height: 72.2px;
  position: relative;
  font-size: inherit;
  line-height: 98px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.tourists-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-31xl-3) 0 0;
  box-sizing: border-box;
  min-width: 323px;
  max-width: 100%;
  margin-left: -8px;
  font-size: var(--font-size-77xl);
}
.frame-wrapper27,
.top-reviews-group {
  flex-direction: row;
  align-items: flex-start;
}
.top-reviews-group {
  width: 1239px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  row-gap: 20px;
  max-width: 100%;
}
.frame-wrapper27 {
  align-self: stretch;
  font-size: var(--font-size-45xl);
  color: var(--color-black);
  font-family: var(--font-hanuman);
}
.destinations-content-inner,
.frame-parent78,
.frame-wrapper27 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent78 {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-37xl-5);
}
.destinations-content-inner {
  width: 1695px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-3xl);
  box-sizing: border-box;
}
.destinations-divider-child {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  margin-top: -3px;
  z-index: 2;
}
.destinations-divider {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-2xs) 0 var(--padding-6xl);
  box-sizing: border-box;
}
.destinations-content,
.destinations-divider,
.explore-destinations {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.destinations-content {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-2xl-9);
}
.explore-destinations {
  width: 1903px;
  flex-direction: row;
  padding: 0 var(--padding-40xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-gray-400);
  font-family: var(--font-gowun-batang);
}
@media screen and (max-width: 1225px) {
  .frame-parent79 {
    flex-wrap: wrap;
  }
  .explore-destinations {
    padding-left: var(--padding-10xl);
    padding-right: var(--padding-10xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 850px) {
  .agra1 {
    line-height: 35px;
  }
  .agra1,
  .x1 {
    font-size: var(--font-size-10xl);
  }
  .frame-parent80 {
    gap: var(--gap-3xl);
    flex-wrap: wrap;
  }
  .map {
    font-size: var(--font-size-19xl);
  }
  .eviews7,
  .from7,
  .r5,
  .top6 {
    font-size: var(--font-size-32xl);
  }
  .tourists7 {
    font-size: var(--font-size-29xl);
    line-height: 59px;
  }
  .frame-parent78 {
    gap: var(--gap-9xl);
  }
}
@media screen and (max-width: 450px) {
  .agra1 {
    line-height: 26px;
  }
  .agra1,
  .x1 {
    font-size: var(--font-size-3xl);
  }
  .map {
    font-size: var(--font-size-10xl);
  }
  .frame-parent81 {
    flex-wrap: wrap;
  }
  .top6 {
    font-size: var(--font-size-19xl);
  }
  .r5 {
    font-size: var(--font-size-13xl);
  }
  .eviews7 {
    font-size: var(--font-size-19xl);
  }
  .r-parent {
    flex-wrap: wrap;
  }
  .from7 {
    font-size: var(--font-size-19xl);
  }
  .tourists7 {
    font-size: var(--font-size-10xl);
    line-height: 39px;
  }
}
