.product-background {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-26xl);
  background: linear-gradient(265.37deg, #b42424, #881b1b 19.52%, #4e1010);
  cursor: pointer;
  z-index: 4;
}
.kashmiri-oudh1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  z-index: 5;
}
.this-attar-is1 {
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 5;
}
.this-attar-is-a-non-alcoholic-wrapper {
  width: 538px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-21xl);
}
.product-description {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-13xl);
}
.product-description,
.product-info1,
.rs-245-only-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.rs-245-only-wrapper {
  width: 422px;
  flex-direction: row;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
  font-size: var(--font-size-21xl);
}
.product-info1 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-20xl);
}
.visit-now12 {
  flex: 1;
  position: relative;
  line-height: 51px;
  z-index: 5;
}
.forward-icon14 {
  height: 71px;
  width: 55px;
  position: absolute;
  margin: 0 !important;
  right: 29px;
  bottom: -20px;
  object-fit: cover;
  z-index: 6;
}
.visit-button-content,
.visit-button-content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.visit-button-content {
  flex: 1;
  position: relative;
}
.visit-button-content-wrapper {
  width: 247px;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
  font-size: var(--font-size-21xl);
}
.product-content,
.product-details1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.product-details1 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-44xl);
}
.product-content {
  width: 564px;
  justify-content: flex-end;
  padding: 0 0 var(--padding-lg);
  box-sizing: border-box;
}
.rpse-1-icon1 {
  height: 246px;
  width: 285px;
  position: relative;
  object-fit: cover;
  z-index: 5;
}
.product-background-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-91xl) var(--padding-99xl) var(--padding-65xl)
    var(--padding-42xl);
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
  gap: var(--gap-xl);
}
.kashmiri-perfume-11 {
  height: 659px;
  width: 645px;
  position: relative;
  object-fit: cover;
  display: none;
  max-width: 100%;
}
.discount-background {
  position: absolute;
  top: 52px;
  left: 89px;
  background-color: var(--color-snow-100);
  width: 85px;
  height: 61px;
  z-index: 7;
}
.discount-1-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 8;
}
.discount-content {
  height: 191px;
  width: 265px;
  position: relative;
}
.frame-wrapper22,
.kashmiri-perfume-1-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  box-sizing: border-box;
  max-width: 100%;
}
.kashmiri-perfume-1-group {
  align-self: stretch;
  flex: 1;
  padding: var(--padding-27xl) var(--padding-36xl);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 6;
}
.frame-wrapper22 {
  width: 791px;
  height: 659px;
  padding: 0 var(--padding-54xl);
  margin-top: -638px;
}
.frame-parent61 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--font-jost);
}
@media screen and (max-width: 1225px) {
  .product-background-parent {
    flex-wrap: wrap;
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-40xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 850px) {
  .kashmiri-oudh1 {
    font-size: var(--font-size-19xl);
  }
  .this-attar-is1 {
    font-size: var(--font-size-13xl);
  }
  .product-description {
    gap: var(--gap-base);
  }
  .product-info1 {
    gap: var(--gap-lgi);
  }
  .visit-now12 {
    font-size: var(--font-size-13xl);
    line-height: 41px;
  }
  .product-details1 {
    gap: var(--gap-12xl);
  }
  .product-background-parent {
    padding-top: var(--padding-52xl);
    padding-right: var(--padding-10xl);
    padding-bottom: var(--padding-36xl);
    box-sizing: border-box;
  }
  .frame-wrapper22 {
    padding-left: var(--padding-17xl);
    padding-right: var(--padding-17xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .kashmiri-oudh1 {
    font-size: var(--font-size-10xl);
  }
  .this-attar-is1,
  .visit-now12 {
    font-size: var(--font-size-5xl);
  }
  .visit-now12 {
    line-height: 31px;
  }
  .product-details1 {
    gap: var(--gap-base);
  }
  .kashmiri-perfume-1-group {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
