.profile-icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-gainsboro-300);
  border: 0 solid var(--color-black);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.account-icon2 {
  position: absolute;
  top: 0;
  left: 26px;
  width: 142px;
  height: 170px;
  object-fit: cover;
  z-index: 2;
}
.profile-icon-parent {
  height: 187px;
  flex: 1;
  position: relative;
}
.auth-container {
  position: absolute;
  top: 0;
  left: 255px;
  width: 194px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.sign-in17 {
  width: 166px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.sign-in-button-container1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-30xl);
}
.sign-in-link-child {
  align-self: stretch;
  height: 2px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.sign-in-link {
  width: 292px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xl);
}
.add-yours2 {
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.add-review,
.rectangle-parent50 {
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.add-review {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-smi);
  font-size: var(--font-size-29xl);
}
.rectangle-parent50 {
  position: absolute;
  top: 99px;
  left: 0;
  border-radius: var(--br-26xl);
  background-color: var(--color-white);
  border: 3px solid var(--color-black);
  width: 100%;
  flex-direction: column;
  padding: var(--padding-96xl) var(--padding-lgi) var(--padding-218xl)
    var(--padding-57xl);
  gap: var(--gap-81xl);
  min-height: 608px;
}
.attraction-child,
.auth-container-parent {
  width: 449px;
  height: 707px;
  position: relative;
  max-width: 100%;
}
.attraction-child {
  width: 460px;
  height: 536px;
  background-color: var(--color-gray-100);
  display: none;
}
.mysore-palace-21 {
  align-self: stretch;
  height: 207px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 1;
}
.mysore-karnataka6,
.mysore-palace6 {
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.mysore-palace6 {
  width: 354px;
}
.mysore-karnataka6 {
  flex: 1;
}
.mysore-karnataka-wrapper,
.mysore-palace-group {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.mysore-karnataka-wrapper {
  flex-direction: row;
  padding: 0 0 0 var(--padding-11xl);
  box-sizing: border-box;
  font-size: var(--font-size-13xl);
  font-family: var(--font-jacques-francois);
}
.mysore-palace-group {
  flex-direction: column;
  gap: var(--gap-11xs);
}
.ratings-445012 {
  flex: 1;
  position: relative;
  z-index: 1;
}
.frame-parent108,
.palace-rating {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.palace-rating {
  width: 354px;
  flex-direction: row;
  padding: 0 var(--padding-36xl);
  box-sizing: border-box;
  font-size: var(--font-size-13xl);
  font-family: var(--font-josefin-slab);
}
.frame-parent108 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-3xl);
}
.visit-now38 {
  flex: 1;
  position: relative;
  z-index: 1;
}
.forward-icon38 {
  align-self: stretch;
  width: 66px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  min-height: 45px;
  z-index: 2;
  margin-left: -45px;
}
.button10,
.palace-visit {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.button10 {
  flex: 1;
  justify-content: flex-start;
}
.palace-visit {
  width: 339px;
  justify-content: flex-end;
  padding: 0 var(--padding-39xl);
  box-sizing: border-box;
  max-width: 100%;
}
.info-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-14xl);
  max-width: 100%;
}
.attraction,
.attraction-info {
  width: 411px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-lgi);
  box-sizing: border-box;
  max-width: 100%;
}
.attraction {
  width: 460px;
  background-color: var(--color-gray-100);
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-14xl) var(--padding-lg) var(--padding-23xl)
    var(--padding-sm);
  gap: var(--gap-9xl);
}
.konark-sun-temple6,
.puri-odisha6 {
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.konark-sun-temple6 {
  width: 460px;
  font-size: var(--font-size-17xl);
}
.puri-odisha6 {
  width: 343px;
  flex-shrink: 0;
}
.temple-location {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 100%;
  font-family: var(--font-jacques-francois);
}
.ratings-445013 {
  width: 244px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.sun-temple-rating,
.temple-info2 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.sun-temple-rating {
  width: 460px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  font-family: var(--font-josefin-slab);
}
.temple-info2 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.visit-now39 {
  width: 202px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.temple-visit {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-15xl);
  font-size: var(--font-size-17xl);
}
.temple-background {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 100%;
}
.forward-icon39,
.konark-sun-temple-13e71cbb6e-2-icon1 {
  position: absolute;
  top: 28px;
  left: 19px;
  width: 419px;
  height: 215px;
  object-fit: cover;
  z-index: 1;
}
.forward-icon39 {
  top: 465px;
  left: 314px;
  width: 66px;
  height: 45px;
  z-index: 2;
}
.temple-image {
  width: 460px;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: 0;
}
.temple-card {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-256xl) 0 var(--padding-9xl) var(--padding-smi);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-36xl);
  max-width: 100%;
  font-size: var(--font-size-13xl);
  color: var(--color-gray-1500);
}
.featured-container {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-80xl);
}
.featured-container,
.featured-container-wrapper,
.user-container1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.featured-container-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-2xs);
  box-sizing: border-box;
  font-family: var(--font-headlandone);
}
.user-container1 {
  position: absolute;
  top: 0;
  left: 1289px;
  width: 496px;
  flex-direction: column;
  gap: var(--gap-993xl);
}
.avatar-icon1 {
  height: 187px;
  width: 194px;
  position: absolute;
  margin: 0 !important;
  top: -94px;
  right: 170px;
  border-radius: 50%;
  object-fit: cover;
  z-index: 1;
}
.uttar-pradesh-map-1-icon1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.review-image,
.user-avatar {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.review-image {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  padding: var(--padding-684xl) 0 0;
  box-sizing: border-box;
}
.user-avatar {
  height: 1483px;
  width: 789px;
  flex-direction: row;
  position: relative;
}
.review-container-child {
  width: 449px;
  height: 608px;
  position: relative;
  border-radius: var(--br-26xl);
  background-color: var(--color-white);
  border: 3px solid var(--color-black);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.reviewer-name1 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-8xs) 0 var(--padding-mini);
}
.review-details1,
.review-padding,
.reviewer-name1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.review-details1 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-12xl);
}
.review-padding {
  width: 404px;
  flex-direction: row;
  padding: 0 var(--padding-37xl);
  box-sizing: border-box;
  max-width: 100%;
}
.i-visited-fort1 {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.review-container2,
.review-content2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.review-container2 {
  flex: 1;
  border-radius: var(--br-26xl);
  background-color: var(--color-white);
  border: 3px solid var(--color-black);
  flex-direction: column;
  padding: var(--padding-86xl) 0 var(--padding-mid) var(--padding-lg);
  gap: var(--gap-55xl);
}
.review-content2 {
  width: 461px;
  flex-direction: row;
  padding: 0 var(--padding-7xs);
}
.victoria-memorial6 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-17xl);
  z-index: 1;
}
.memorial-location {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-17xl);
  box-sizing: border-box;
  font-family: var(--font-jacques-francois);
}
.details-container,
.memorial-location,
.memorial-rating {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.memorial-rating {
  width: 406px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  font-family: var(--font-josefin-slab);
}
.details-container {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.forward-icon40 {
  align-self: stretch;
  width: 66px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  min-height: 45px;
  z-index: 2;
  margin-left: -41px;
}
.memorial-visit,
.visit-container {
  width: 227px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.memorial-visit {
  width: 395px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-17xl);
}
.memorial-details1,
.memorial-info1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.memorial-details1 {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-14xl);
}
.memorial-info1 {
  width: 460px;
  background-color: var(--color-gray-100);
  align-items: flex-start;
  padding: var(--padding-14xl) var(--padding-2xs) var(--padding-30xl)
    var(--padding-mini);
  box-sizing: border-box;
  gap: var(--gap-9xl);
}
.madurai-tamil6 {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.location-container,
.two-rating-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.two-rating-container {
  width: 322px;
  flex-direction: row;
  padding: 0 var(--padding-20xl);
  box-sizing: border-box;
  font-family: var(--font-josefin-slab);
}
.location-container {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-3xs);
}
.temple-two-location {
  width: 423px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-21xl);
  box-sizing: border-box;
  font-size: var(--font-size-13xl);
  font-family: var(--font-jacques-francois);
}
.temple-two-info,
.temple-two-location,
.two-temple-visit {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.temple-two-info {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.two-temple-visit {
  width: 430px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.forward-icon41,
.minakshi-temple-21 {
  position: absolute;
  top: 28px;
  left: 15px;
  width: 428px;
  height: 215px;
  object-fit: cover;
  z-index: 1;
}
.forward-icon41 {
  top: 465px;
  left: 300px;
  width: 66px;
  height: 45px;
  z-index: 2;
}
.memorial-card,
.temple-two-card {
  align-self: stretch;
  flex-direction: column;
}
.temple-two-card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-249xl) 0 var(--padding-9xl) var(--padding-8xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-36xl);
  max-width: 100%;
  font-size: var(--font-size-17xl);
}
.memorial-card {
  gap: var(--gap-80xl);
  font-size: var(--font-size-13xl);
  color: var(--color-gray-1500);
  font-family: var(--font-headlandone);
}
.memorial-card,
.review-content-parent,
.user-review-card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.review-content-parent {
  width: 484px;
  flex-direction: column;
  gap: var(--gap-993xl);
  margin-left: -625px;
}
.user-review-card {
  position: absolute;
  top: 99px;
  left: 498px;
  width: 789px;
  flex-direction: row;
}
.avatar-two-icon {
  height: 187px;
  width: 194px;
  position: absolute;
  margin: 0 !important;
  top: -99px;
  right: 17px;
  border-radius: 50%;
  object-fit: cover;
  z-index: 1;
}
.cameron-williamson2,
.frame-child94 {
  position: relative;
  z-index: 1;
}
.frame-child94 {
  height: 2px;
  flex: 1;
  border-top: 2px solid var(--color-black);
  box-sizing: border-box;
}
.review-two-details,
.review-two-details-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.review-two-details-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-20xl) 0 var(--padding-23xl);
}
.review-two-details {
  width: 375px;
  flex-direction: column;
  gap: var(--gap-11xl);
  max-width: 100%;
}
.visiting-taj-mahal2 {
  margin: 0;
}
.visiting-taj-mahal-container2 {
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.visiting-taj-mahal-was-one-the-container {
  width: 375px;
  flex-direction: row;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
}
.review-two-avatar,
.review-two-content,
.visiting-taj-mahal-was-one-the-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.review-two-content {
  flex: 1;
  border-radius: var(--br-26xl);
  background-color: var(--color-white);
  border: 3px solid var(--color-black);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-88xl) var(--padding-mid) var(--padding-7xl);
  gap: var(--gap-46xl);
}
.review-two-avatar {
  width: 449px;
  flex-direction: row;
  position: relative;
}
.taj-mahal-25 {
  align-self: stretch;
  height: 207px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  mix-blend-mode: normal;
  z-index: 1;
}
.title-container {
  width: 329px;
  flex-direction: row;
  padding: 0 var(--padding-12xl);
  box-sizing: border-box;
  max-width: 100%;
}
.info-container1,
.taj-rating1,
.tajmahal-location,
.title-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.taj-rating1 {
  width: 306px;
  flex-direction: row;
  padding: 0 var(--padding-12xl);
  box-sizing: border-box;
  font-family: var(--font-josefin-slab);
}
.info-container1,
.tajmahal-location {
  align-self: stretch;
  flex-direction: column;
}
.tajmahal-location {
  gap: var(--gap-4xs);
  font-size: var(--font-size-13xl);
  font-family: var(--font-jacques-francois);
}
.info-container1 {
  gap: var(--gap-mid);
  max-width: 100%;
}
.visit-now42 {
  flex: 1;
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.forward-icon42 {
  align-self: stretch;
  width: 66px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  min-height: 45px;
  z-index: 2;
  margin-left: -39px;
}
.visit-button-container,
.visit-taj {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.visit-button-container {
  width: 229px;
}
.visit-taj {
  align-self: stretch;
  padding: 0 var(--padding-33xl);
}
.details6,
.tajmahal-details {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.details6 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.tajmahal-details {
  width: 405px;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-12xl);
  box-sizing: border-box;
}
.image-container5,
.inner-image {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.inner-image {
  flex: 1;
  background-color: var(--color-gray-100);
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-14xl) var(--padding-base) var(--padding-30xl);
  gap: var(--gap-2xl);
}
.image-container5 {
  width: 486px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-smi);
}
.humayuns-tomb5 {
  width: 434px;
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.city3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 100%;
}
.ratings-42505 {
  width: 244px;
  position: relative;
  font-family: var(--font-josefin-slab);
  display: inline-block;
  z-index: 1;
}
.location-details1,
.tomb-location1,
.tomb-visit {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.location-details1 {
  width: 397px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.tomb-location1,
.tomb-visit {
  flex-direction: row;
}
.tomb-location1 {
  align-self: stretch;
  justify-content: flex-end;
  font-size: var(--font-size-13xl);
  font-family: var(--font-jacques-francois);
}
.tomb-visit {
  width: 364px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.forward-icon43,
.humayuns-tomb-21 {
  position: absolute;
  top: 28px;
  left: 16px;
  width: 428px;
  height: 213px;
  object-fit: cover;
  z-index: 1;
}
.forward-icon43 {
  top: 458px;
  left: 288px;
  width: 66px;
  height: 45px;
  z-index: 2;
}
.tajmahal-card,
.tomb-card {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  box-sizing: border-box;
  max-width: 100%;
}
.tomb-card {
  flex-direction: column;
  padding: var(--padding-249xl) 0 var(--padding-16xl) var(--padding-19xl);
  position: relative;
  gap: var(--gap-24xl);
  color: var(--color-black);
}
.tajmahal-card {
  flex-direction: row;
  padding: 0 var(--padding-5xs) 0 0;
  color: var(--color-gray-1500);
  font-family: var(--font-headlandone);
}
.review-two-card {
  position: absolute;
  top: 99px;
  left: 0;
  width: 513px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-993xl);
  max-width: 100%;
}
.user-container-parent {
  align-self: stretch;
  height: 2890px;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-hanuman);
}
@media screen and (max-width: 850px) {
  .sign-in17 {
    font-size: var(--font-size-10xl);
  }
  .add-yours2 {
    font-size: var(--font-size-19xl);
  }
  .mysore-palace6 {
    font-size: var(--font-size-10xl);
  }
  .mysore-karnataka6,
  .ratings-445012 {
    font-size: var(--font-size-7xl);
  }
  .konark-sun-temple6,
  .visit-now38 {
    font-size: var(--font-size-10xl);
  }
  .puri-odisha6,
  .ratings-445013 {
    font-size: var(--font-size-7xl);
  }
  .i-visited-fort1,
  .victoria-memorial6,
  .visit-now39 {
    font-size: var(--font-size-10xl);
  }
  .madurai-tamil6 {
    font-size: var(--font-size-7xl);
  }
  .cameron-williamson2,
  .humayuns-tomb5,
  .visit-now42,
  .visiting-taj-mahal-container2 {
    font-size: var(--font-size-10xl);
  }
  .ratings-42505 {
    font-size: var(--font-size-7xl);
  }
}
@media screen and (max-width: 450px) {
  .sign-in17 {
    font-size: var(--font-size-3xl);
  }
  .add-yours2 {
    font-size: var(--font-size-10xl);
  }
  .mysore-palace6 {
    font-size: var(--font-size-3xl);
  }
  .mysore-karnataka6,
  .ratings-445012 {
    font-size: var(--font-size-lgi);
  }
  .konark-sun-temple6,
  .visit-now38 {
    font-size: var(--font-size-3xl);
  }
  .puri-odisha6,
  .ratings-445013 {
    font-size: var(--font-size-lgi);
  }
  .i-visited-fort1,
  .victoria-memorial6,
  .visit-now39 {
    font-size: var(--font-size-3xl);
  }
  .madurai-tamil6 {
    font-size: var(--font-size-lgi);
  }
  .cameron-williamson2,
  .humayuns-tomb5,
  .visit-now42,
  .visiting-taj-mahal-container2 {
    font-size: var(--font-size-3xl);
  }
  .ratings-42505 {
    font-size: var(--font-size-lgi);
  }
}
