.copper-kada,
.rs589 {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.copper-kada {
  align-self: stretch;
}
.rs589 {
  width: 254px;
  display: inline-block;
  flex-shrink: 0;
}
.rs589-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  font-size: var(--font-size-13xl);
}
.copper-kada-parent {
  width: 311px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.frame-child47 {
  height: 68px;
  width: 326px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-black);
  display: none;
  max-width: 100%;
}
.add-to-cart1 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-13xl);
  font-weight: 500;
  font-family: var(--font-jost);
  color: var(--color-white);
  text-align: left;
  z-index: 2;
}
.rectangle-parent23 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi) var(--padding-52xl) var(--padding-5xs);
  background-color: var(--color-black);
  flex: 1;
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  white-space: nowrap;
  max-width: 100%;
  z-index: 1;
}
.rectangle-parent23:hover {
  background-color: var(--color-darkslategray);
}
.frame-parent62,
.kada-add-cart {
  align-self: stretch;
  display: flex;
  max-width: 100%;
}
.kada-add-cart {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-14xl) 0 0;
  box-sizing: border-box;
}
.frame-parent62 {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-7xl);
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-jost);
}
@media screen and (max-width: 850px) {
  .copper-kada {
    font-size: var(--font-size-10xl);
  }
  .rs589 {
    font-size: var(--font-size-7xl);
  }
}
@media screen and (max-width: 450px) {
  .copper-kada {
    font-size: var(--font-size-3xl);
  }
  .rs589 {
    font-size: var(--font-size-lgi);
  }
  .rectangle-parent23 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
