.frame-child21 {
  width: 236px;
  height: 245px;
  position: relative;
  border-radius: var(--br-26xl);
  background-color: var(--color-snow-800);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
  z-index: 1;
}
.first-monday-placeholder1 {
  height: 103px;
  flex: 1;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.first-monday-placeholder {
  width: 161px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-18xl);
  box-sizing: border-box;
}
.monday1 {
  height: 34px;
  flex: 1;
  position: relative;
  display: inline-block;
  z-index: 2;
}
.monday-row {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-8xs);
}
.frame-child22 {
  height: 1px;
  width: 137px;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.line-wrapper1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs);
}
.ganesh-visarjan {
  align-self: stretch;
  height: 46px;
  position: relative;
  font-size: var(--font-size-xl);
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.monday-row-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  margin-top: -12px;
  font-size: var(--font-size-17xl);
}
.monday-week-separator {
  width: 137px;
  height: 1px;
  position: absolute;
  margin: 0 !important;
  bottom: 91px;
  left: 42px;
  object-fit: contain;
  z-index: 2;
}
.rectangle-parent13,
.week-one-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent13 {
  width: 236px;
  border-radius: var(--br-26xl);
  background-color: var(--color-snow-800);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  padding: var(--padding-8xs) var(--padding-4xl) var(--padding-5xl)
    var(--padding-10xl);
  position: relative;
}
.week-one-inner {
  width: 295px;
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--color-black);
  font-family: var(--font-headlandone);
}
@media screen and (max-width: 850px) {
  .first-monday-placeholder1 {
    font-size: var(--font-size-32xl);
  }
  .monday1 {
    font-size: var(--font-size-10xl);
  }
}
@media screen and (max-width: 450px) {
  .first-monday-placeholder1 {
    font-size: var(--font-size-19xl);
  }
  .monday1 {
    font-size: var(--font-size-3xl);
  }
  .ganesh-visarjan {
    font-size: var(--font-size-base);
  }
}
