.agreement-check {
  align-self: stretch;
  flex: 1;
  position: relative;
  background-color: var(--color-snow-200);
  border: 1px solid var(--color-black);
}
.agreement-check-wrapper {
  height: 67px;
  width: 66px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) 0 0;
  box-sizing: border-box;
}
.i-agree-that {
  flex: 1;
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 1059px;
  max-width: 100%;
}
.frame-parent29 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-22xl);
  max-width: 100%;
}
.agreement-checkbox {
  position: absolute;
  top: 7px;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-red-100);
  width: 167px;
  height: 75px;
}
.arrow-icon {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 39px;
  max-height: 100%;
  width: 90px;
  object-fit: cover;
  z-index: 1;
}
.agreement-checkbox-parent {
  height: 90px;
  width: 167px;
  position: relative;
}
.agreement-content-inner {
  width: 1715px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.agreement-content,
.agreement-content-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.agreement-content {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-86xl);
}
.agreement-content-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-19xl) 0 var(--padding-15xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-jost);
}
@media screen and (max-width: 1325px) {
  .i-agree-that {
    min-width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .i-agree-that {
    font-size: var(--font-size-13xl);
  }
  .frame-parent29 {
    gap: var(--gap-xl);
  }
  .agreement-content {
    gap: var(--gap-33xl);
  }
}
@media screen and (max-width: 450px) {
  .i-agree-that {
    font-size: var(--font-size-5xl);
  }
  .agreement-content {
    gap: var(--gap-7xl);
  }
}
