.search-icon1 {
  position: absolute;
  top: 5px;
  left: 0;
  background-color: var(--color-snow-200);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 512px;
  height: 46px;
  cursor: pointer;
}
.search-city-or1 {
  position: absolute;
  top: 0;
  left: 88px;
  line-height: 44px;
  display: inline-block;
  width: 335px;
  height: 44px;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 1;
}
.search-field {
  align-self: stretch;
  height: 51px;
  position: relative;
}
.search-input-box {
  width: 512px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
}
.input-wrapper {
  width: 1028px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.top8 {
  margin: 0;
  align-self: stretch;
  height: 76.4px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.top-frame {
  width: 156px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl-5) var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.eviews9,
.r7 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.r7 {
  height: 150.1px;
  width: 88px;
  z-index: 1;
}
.eviews9 {
  align-self: stretch;
  height: 76.4px;
  z-index: 2;
}
.review-count,
.review-word {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.review-word {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-40xl-5) 0 0;
  min-width: 175px;
  font-size: var(--font-size-45xl);
}
.review-count {
  width: 390px;
  flex-direction: row;
  padding: 0 var(--padding-13xl) 0 0;
  row-gap: 20px;
  max-width: 100%;
  margin-left: -8px;
  font-size: var(--font-size-109xl);
}
.from9 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.review-source {
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-41xl-5) 0 0;
  box-sizing: border-box;
  margin-left: -8px;
}
.tourists9 {
  margin: 0;
  align-self: stretch;
  height: 72.2px;
  position: relative;
  font-size: inherit;
  line-height: 98px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.review-container3,
.reviewer-type {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.reviewer-type {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-31xl-3) 0 0;
  box-sizing: border-box;
  min-width: 323px;
  margin-left: -8px;
  font-size: var(--font-size-77xl);
}
.review-container3 {
  width: 1239px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  row-gap: 20px;
}
.review-container-wrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  font-size: var(--font-size-45xl);
  color: var(--color-black);
  font-family: var(--font-hanuman);
}
.input-container,
.input-wrapper-parent,
.review-container-wrapper {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.input-wrapper-parent {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-39xl-5);
}
.input-container {
  width: 1695px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-3xl);
  box-sizing: border-box;
}
.frame-child95 {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  margin-top: -3px;
  z-index: 2;
}
.search-container,
.search-container-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.search-container-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-2xs) 0 var(--padding-6xl);
  box-sizing: border-box;
}
.search-container {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-2xl-9);
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-gray-400);
  font-family: var(--font-gowun-batang);
}
@media screen and (max-width: 1225px) {
  .input-wrapper {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 850px) {
  .search-city-or1 {
    font-size: var(--font-size-10xl);
    line-height: 35px;
  }
  .eviews9,
  .from9,
  .r7,
  .top8 {
    font-size: var(--font-size-32xl);
  }
  .tourists9 {
    font-size: var(--font-size-29xl);
    line-height: 59px;
  }
  .input-wrapper-parent {
    gap: var(--gap-10xl);
  }
}
@media screen and (max-width: 450px) {
  .search-city-or1 {
    font-size: var(--font-size-3xl);
    line-height: 26px;
  }
  .top8 {
    font-size: var(--font-size-19xl);
  }
  .r7 {
    font-size: var(--font-size-13xl);
  }
  .eviews9 {
    font-size: var(--font-size-19xl);
  }
  .review-count {
    flex-wrap: wrap;
  }
  .from9 {
    font-size: var(--font-size-19xl);
  }
  .tourists9 {
    font-size: var(--font-size-10xl);
    line-height: 39px;
  }
}
