.screenshot-352-ai-brush-remo-icon13 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 3;
}
.screenshot,
.state-image {
  position: absolute;
  top: -66px;
  left: -235px;
  width: 815px;
  height: 448px;
}
.state-image {
  height: 382px;
  width: 580px;
  margin: 0 !important;
  top: -272px;
  left: 0;
}
.frame-child67 {
  height: 1104px;
  width: 1920px;
  position: relative;
  border-radius: var(--br-26xl);
  background-color: var(--color-gray-1300);
  display: none;
  max-width: 100%;
  z-index: 0;
}
.indias-rich-culture2 {
  margin: 0;
}
.indias-rich-culture-container2 {
  height: 332px;
  width: 1745px;
  position: absolute;
  margin: 0 !important;
  right: -1081px;
  bottom: 142px;
  display: inline-block;
  z-index: 6;
}
.never-stop5 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 92px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 5;
}
.stop {
  width: 627px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs);
  box-sizing: border-box;
  max-width: 100%;
}
.exploring2 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-109xl);
  font-weight: 700;
  font-family: inherit;
  z-index: 5;
}
.never {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
  max-width: 100%;
}
.visit-block-child {
  height: 2px;
  flex: 1;
  position: relative;
  border-top: 2px solid var(--color-white);
  box-sizing: border-box;
  z-index: 5;
}
.visit-block {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-6xs);
}
.visit1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-16xl);
  background-color: var(--color-gray-1300);
  border: 2px solid var(--color-snow-600);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 5;
}
.visit-now24 {
  position: absolute;
  top: 4px;
  left: 38px;
  font-size: var(--font-size-17xl);
  display: inline-block;
  font-family: var(--font-jost);
  color: var(--color-white);
  text-align: left;
  width: 164px;
  height: 52px;
  z-index: 6;
}
.visit-button3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 275px;
  height: 68px;
  position: relative;
  white-space: nowrap;
}
.button-block,
.button-block-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-block {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-29xl);
}
.button-block-wrapper {
  width: 330px;
  flex-direction: row;
  padding: 0 var(--padding-lg);
  box-sizing: border-box;
  max-width: 100%;
}
.exploring-block {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-354xl);
  font-size: var(--font-size-77xl);
}
.culture,
.exploring-block,
.tradition {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.tradition {
  align-self: stretch;
  flex-direction: row;
  position: relative;
}
.culture {
  width: 669px;
  flex-direction: column;
  padding: var(--padding-27xl) 0 0;
  box-sizing: border-box;
  min-width: 669px;
  font-family: var(--font-jost);
}
.block1,
.northeast-child {
  align-self: stretch;
  position: relative;
}
.northeast-child {
  width: 512px;
  background-color: var(--color-snow-200);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.block1 {
  line-height: 42px;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 17;
}
.arunachal {
  width: 69px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.span3 {
  color: var(--color-white);
}
.pradesh {
  color: var(--color-gray-1000);
}
.arunachal-pradesh {
  width: 335px;
  position: relative;
  line-height: 46px;
  display: inline-block;
  flex-shrink: 0;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  max-width: 100%;
  z-index: 17;
  color: var(--color-gray-1200);
}
.northeast {
  align-self: stretch;
  background-color: var(--color-snow-200);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xl);
  gap: var(--gap-24xl);
  max-width: 100%;
  z-index: 16;
}
.span4 {
  color: var(--color-gray-600);
}
.andaman-and-nicobar,
.div59 {
  position: relative;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
}
.div59 {
  align-self: stretch;
  line-height: 42px;
  z-index: 16;
}
.andaman-and-nicobar {
  line-height: 46px;
  color: var(--color-gray-1000);
  display: inline-block;
  max-width: 100%;
  z-index: 17;
}
.grid-row,
.northeast1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.northeast1 {
  background-color: var(--color-snow-200);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  flex-direction: row;
  padding: 0 var(--padding-5xs) 0 var(--padding-6xl);
  gap: var(--gap-24xl);
  z-index: 15;
  color: var(--color-gray-900);
}
.grid-row {
  position: absolute;
  top: 0;
  left: 262px;
  width: 512px;
  flex-direction: column;
  color: var(--color-gray-600);
}
.kerala-block-child {
  height: 46px;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-snow-200);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  z-index: 14;
}
.block2 {
  align-self: stretch;
  position: relative;
  line-height: 42px;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 15;
}
.kerala {
  width: 69px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
}
.bihar {
  width: 295px;
  position: relative;
  line-height: 46px;
  color: var(--color-gray-1000);
  display: inline-block;
  flex-shrink: 0;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 18;
}
.kerala-block,
.south {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.kerala-block {
  width: 512px;
  justify-content: flex-start;
  padding: 0 var(--padding-8xl) var(--padding-10xs);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-24xl);
  flex-shrink: 0;
}
.south {
  width: 794px;
  justify-content: center;
}
.kerela-tradition-12 {
  width: 915px;
  height: 445px;
  position: relative;
  object-fit: cover;
  display: none;
  max-width: 100%;
  z-index: 0;
}
.block3 {
  align-self: stretch;
  position: relative;
  line-height: 42px;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 14;
}
.chattisgarh {
  width: 69px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.chhattisgarh {
  width: 295px;
  position: relative;
  line-height: 46px;
  color: var(--color-gray-1000);
  display: inline-block;
  flex-shrink: 0;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 15;
}
.chandigarh-image,
.chhattisgarh-block {
  position: absolute;
  left: 0;
  background-color: var(--color-snow-200);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
}
.chhattisgarh-block {
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xl);
  gap: var(--gap-24xl);
  max-width: 100%;
  z-index: 13;
}
.chandigarh-image {
  top: 4px;
  width: 512px;
  height: 46px;
  z-index: 11;
}
.block4,
.chandigarh {
  position: absolute;
  top: 0;
  left: 139px;
  line-height: 46px;
  display: inline-block;
  width: 295px;
  height: 46px;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 16;
}
.block4 {
  top: 5px;
  left: 27px;
  line-height: 42px;
  width: 69px;
  height: 42px;
  z-index: 14;
  color: var(--color-gray-900);
}
.chandigarh-block {
  position: absolute;
  top: 42px;
  left: 0;
  width: 100%;
  height: 50px;
  color: var(--color-gray-1000);
}
.block5,
.center-grid {
  align-self: stretch;
  position: relative;
}
.center-grid {
  height: 92px;
  flex-shrink: 0;
  max-width: 100%;
}
.block5 {
  line-height: 42px;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 12;
}
.block-wrapper {
  width: 69px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
}
.goa {
  width: 295px;
  position: relative;
  line-height: 46px;
  color: var(--color-gray-1000);
  display: inline-block;
  flex-shrink: 0;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 12;
}
.goa-block {
  align-self: stretch;
  background-color: var(--color-snow-200);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xl);
  gap: var(--gap-24xl);
  flex-shrink: 0;
  max-width: 100%;
  z-index: 10;
  margin-top: -3.7px;
}
.goa-block-item {
  height: 46px;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  z-index: 9;
}
.block6 {
  align-self: stretch;
  position: relative;
  line-height: 42px;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 11;
}
.goa-block1,
.gujarat {
  position: relative;
  flex-shrink: 0;
}
.gujarat {
  width: 295px;
  line-height: 46px;
  color: var(--color-gray-1000);
  display: inline-block;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 13;
}
.goa-block1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xl) var(--padding-9xs);
  gap: var(--gap-24xl);
  margin-top: -3.7px;
}
.goa-block-inner {
  position: absolute;
  top: 4px;
  left: 0;
  background-color: var(--color-snow-200);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 512px;
  height: 46px;
  z-index: 8;
}
.div60,
.haryana {
  position: absolute;
  top: 0;
  left: 139px;
  line-height: 46px;
  display: inline-block;
  width: 295px;
  height: 46px;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 14;
}
.div60 {
  top: 2px;
  left: 27px;
  line-height: 42px;
  width: 69px;
  height: 42px;
  z-index: 10;
  color: var(--color-gray-900);
}
.goa-block2 {
  align-self: stretch;
  height: 50px;
  position: relative;
  flex-shrink: 0;
  margin-top: -3.7px;
  color: var(--color-gray-1000);
}
.goa-block-child1 {
  height: 46px;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-snow-200);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  z-index: 7;
}
.div61 {
  align-self: stretch;
  position: relative;
  line-height: 42px;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 9;
}
.west-grid {
  width: 512px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.karnataka,
.karnataka-image {
  position: absolute;
  height: 46px;
}
.karnataka-image {
  top: 4px;
  left: 0;
  background-color: var(--color-snow-200);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 512px;
  z-index: 13;
}
.karnataka {
  top: 0;
  left: 139px;
  line-height: 46px;
  display: inline-block;
  width: 295px;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 17;
}
.jharkhand-child,
.karnataka-block {
  width: 512px;
  position: relative;
  max-width: 100%;
}
.karnataka-block {
  height: 50px;
  color: var(--color-gray-1000);
}
.jharkhand-child {
  height: 46px;
  background-color: var(--color-snow-200);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.block8 {
  width: 69px;
  position: relative;
  line-height: 42px;
  display: inline-block;
  flex-shrink: 0;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 15;
}
.jharkhand {
  width: 512px;
  margin: 0 !important;
  position: absolute;
  bottom: -2px;
  left: -139px;
  background-color: var(--color-snow-200);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xl);
  z-index: 14;
}
.jharkhand1 {
  flex: 1;
  position: relative;
  line-height: 46px;
  color: var(--color-gray-1000);
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 16;
}
.jharkhand-block {
  width: 295px;
  margin: 0 !important;
  position: absolute;
  top: 313px;
  left: 401px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.block-frame,
.grid-row2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}
.grid-row2 {
  align-self: stretch;
  align-items: center;
  padding: var(--padding-22xl) var(--padding-xl) var(--padding-19xl)
    var(--padding-122xl);
  position: relative;
  gap: var(--gap-21xl);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 5;
  margin-top: -42px;
}
.block-frame {
  width: 69px;
  align-items: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.kerala1 {
  width: 295px;
  position: relative;
  line-height: 46px;
  color: var(--color-gray-1000);
  display: inline-block;
  flex-shrink: 0;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 14;
}
.rectangle-parent41,
.south1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent41 {
  width: 512px;
  background-color: var(--color-snow-200);
  border: 2px solid var(--color-black);
  justify-content: flex-start;
  padding: 0 var(--padding-8xl);
  gap: var(--gap-24xl);
  flex-shrink: 0;
  z-index: 12;
}
.south1 {
  width: 794px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  margin-top: -42px;
}
.grid-row1,
.state-blocks {
  width: 100%;
  position: absolute;
  left: 0;
}
.grid-row1 {
  top: 90px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  max-width: 100%;
}
.state-blocks {
  height: 46px;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  background-color: var(--color-snow-200);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  z-index: 11;
}
.block10 {
  align-self: stretch;
  position: relative;
  line-height: 42px;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 13;
}
.maharashtra {
  width: 69px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
  box-sizing: border-box;
}
.grid-row-child,
.grid-row3 {
  position: absolute;
  box-sizing: border-box;
  width: 512px;
}
.grid-row3 {
  top: 543px;
  left: 262px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xl) var(--padding-9xs);
  gap: var(--gap-24xl);
  max-width: 100%;
}
.grid-row-child {
  top: 6px;
  left: 0;
  background-color: var(--color-snow-200);
  border: 2px solid var(--color-black);
  height: 46px;
  z-index: 10;
}
.div62 {
  position: absolute;
  top: 5px;
  left: 27px;
  line-height: 42px;
  display: inline-block;
  width: 69px;
  height: 42px;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 12;
  color: var(--color-gray-900);
}
.grid-row4 {
  position: absolute;
  top: 589px;
  left: 262px;
  width: 512px;
  height: 52px;
  color: var(--color-gray-1000);
}
.block11 {
  width: 69px;
  position: relative;
  line-height: 42px;
  display: inline-block;
  flex-shrink: 0;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 12;
}
.manipur-image,
.meghalaya {
  background-color: var(--color-snow-200);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
}
.meghalaya {
  flex: 0.8867;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xl);
  gap: var(--gap-24xl);
  max-width: 100%;
  z-index: 8;
}
.manipur-image {
  height: 46px;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
}
.manipur1 {
  width: 295px;
  position: relative;
  line-height: 46px;
  color: var(--color-gray-1000);
  display: inline-block;
  flex-shrink: 0;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 11;
}
.manipur {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xl) var(--padding-9xs);
  position: relative;
  gap: var(--gap-24xl);
}
.manipur-block,
.meghalaya-block {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.manipur-block {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 var(--padding-24xl);
  box-sizing: border-box;
  min-height: 94px;
  margin-left: -512px;
}
.meghalaya-block {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
}
.block14,
.mizoram {
  width: 69px;
  position: relative;
  line-height: 42px;
  display: inline-block;
  flex-shrink: 0;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 9;
}
.mizoram {
  width: 295px;
  line-height: 46px;
  color: var(--color-gray-1000);
}
.mizoram-block,
.nagaland-image {
  background-color: var(--color-snow-200);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
}
.mizoram-block {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xl);
  gap: var(--gap-24xl);
  max-width: 100%;
  z-index: 7;
}
.nagaland-image {
  position: absolute;
  top: 4px;
  left: 0;
  width: 512px;
  height: 46px;
  z-index: 6;
}
.block15,
.nagaland1 {
  position: absolute;
  top: 0;
  left: 139px;
  line-height: 46px;
  display: inline-block;
  width: 295px;
  height: 46px;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 10;
}
.block15 {
  top: 5px;
  left: 27px;
  line-height: 42px;
  width: 69px;
  height: 42px;
  z-index: 7;
  color: var(--color-gray-900);
}
.nagaland {
  align-self: stretch;
  height: 50px;
  position: relative;
  flex-shrink: 0;
  color: var(--color-gray-1000);
}
.block16,
.odisha1 {
  position: relative;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
}
.block16 {
  align-self: stretch;
  line-height: 42px;
  z-index: 6;
}
.odisha1 {
  width: 295px;
  line-height: 46px;
  color: var(--color-gray-1000);
  display: inline-block;
  flex-shrink: 0;
  z-index: 7;
}
.odisha-block {
  align-self: stretch;
  background-color: var(--color-snow-200);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xl) var(--padding-12xs);
  gap: var(--gap-24xl);
  flex-shrink: 0;
  max-width: 100%;
  z-index: 5;
  margin-top: -0.5px;
}
.block18,
.punjab1 {
  position: relative;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
}
.block18 {
  align-self: stretch;
  line-height: 42px;
  z-index: 7;
}
.punjab1 {
  width: 295px;
  line-height: 46px;
  color: var(--color-gray-1000);
  display: inline-block;
  flex-shrink: 0;
  z-index: 8;
}
.punjab,
.rajasthan-child {
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  max-width: 100%;
}
.punjab {
  flex: 0.8867;
  background-color: var(--color-snow-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-8xl) 0;
  gap: var(--gap-24xl);
  z-index: 6;
}
.rajasthan-child {
  height: 46px;
  width: 512px;
  position: relative;
  background-color: var(--color-snow-600);
  display: none;
}
.block19,
.rajasthan1 {
  position: relative;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
}
.block19 {
  width: 69px;
  line-height: 42px;
  display: inline-block;
  flex-shrink: 0;
  z-index: 8;
}
.rajasthan1 {
  align-self: stretch;
  line-height: 46px;
  z-index: 9;
}
.name1,
.rajasthan {
  box-sizing: border-box;
}
.name1 {
  width: 295px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  color: var(--color-gray-1000);
}
.rajasthan {
  align-self: stretch;
  background-color: var(--color-snow-600);
  border: 2px solid var(--color-black);
  flex-direction: row;
  padding: 0 var(--padding-8xl) var(--padding-12xs);
  gap: var(--gap-24xl);
  z-index: 7;
}
.punjab-block,
.rajasthan,
.rajasthan-block {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.rajasthan-block {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-25xl) 0 0;
  box-sizing: border-box;
  margin-left: -512px;
}
.punjab-block {
  align-self: stretch;
  flex-direction: row;
  flex-shrink: 0;
  margin-top: -0.5px;
}
.nagaland-block {
  align-self: stretch;
  margin-top: -4px;
  color: var(--color-gray-600);
}
.bottom-grid,
.east-grid,
.nagaland-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.bottom-grid {
  align-self: stretch;
}
.east-grid {
  position: absolute;
  top: 636px;
  left: 262px;
  width: 512px;
}
.state-grid1 {
  height: 960px;
  width: 915px;
  position: relative;
  min-width: 915px;
  max-width: 100%;
  color: var(--color-gray-900);
}
.tamil-nadu-state {
  position: absolute;
  top: 5px;
  left: 0;
  background-color: var(--color-snow-200);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 512px;
  height: 46px;
  z-index: 9;
}
.div63,
.tamil-nadu {
  position: absolute;
  top: 0;
  left: 139px;
  line-height: 46px;
  display: inline-block;
  width: 295px;
  height: 46px;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 11;
}
.div63 {
  top: 4px;
  left: 27px;
  line-height: 42px;
  color: var(--color-gray-600);
  width: 69px;
  height: 42px;
  z-index: 10;
}
.tamil-nadu-block {
  height: 51px;
  width: 512px;
  position: absolute;
  margin: 0 !important;
  right: 141px;
  bottom: 41px;
  color: var(--color-gray-1000);
}
.rectangle-parent40 {
  flex: 1;
  border-radius: var(--br-26xl);
  background-color: var(--color-gray-1300);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-2xs) 0 var(--padding-114xl) var(--padding-63xl);
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 4;
}
.states-child {
  height: 1610px;
  width: 3.1px;
  position: absolute;
  margin: 0 !important;
  right: 545px;
  bottom: -473px;
  object-fit: contain;
  z-index: 20;
}
.states {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--font-gowun-batang);
}
@media screen and (max-width: 1650px) {
  .culture,
  .state-grid1 {
    flex: 1;
  }
  .rectangle-parent40 {
    flex-wrap: wrap;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1300px) {
  .state-grid1 {
    min-width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .indias-rich-culture-container2 {
    font-size: var(--font-size-10xl);
  }
  .never-stop5 {
    font-size: var(--font-size-29xl);
    line-height: 55px;
  }
  .exploring2 {
    font-size: var(--font-size-32xl);
  }
  .exploring-block {
    gap: var(--gap-167xl);
  }
  .culture {
    min-width: 100%;
  }
  .arunachal-pradesh,
  .block1 {
    font-size: var(--font-size-10xl);
    line-height: 34px;
  }
  .arunachal-pradesh {
    line-height: 37px;
  }
  .northeast {
    flex-wrap: wrap;
  }
  .andaman-and-nicobar,
  .div59 {
    font-size: var(--font-size-10xl);
    line-height: 34px;
  }
  .andaman-and-nicobar {
    line-height: 37px;
  }
  .northeast1 {
    flex-wrap: wrap;
  }
  .bihar,
  .block2,
  .block3,
  .chhattisgarh {
    font-size: var(--font-size-10xl);
    line-height: 34px;
  }
  .bihar,
  .block3,
  .chhattisgarh {
    line-height: 37px;
  }
  .block3,
  .chhattisgarh {
    line-height: 34px;
  }
  .chhattisgarh {
    line-height: 37px;
  }
  .chhattisgarh-block {
    flex-wrap: wrap;
  }
  .block4,
  .chandigarh {
    font-size: var(--font-size-10xl);
    line-height: 37px;
  }
  .block4 {
    line-height: 34px;
  }
  .center-grid {
    height: auto;
    min-height: 92;
  }
  .block5,
  .goa {
    font-size: var(--font-size-10xl);
    line-height: 34px;
  }
  .goa {
    line-height: 37px;
  }
  .goa-block {
    flex-wrap: wrap;
  }
  .block6,
  .gujarat {
    font-size: var(--font-size-10xl);
    line-height: 34px;
  }
  .gujarat {
    line-height: 37px;
  }
  .goa-block1 {
    flex-wrap: wrap;
  }
  .haryana {
    font-size: var(--font-size-10xl);
    line-height: 37px;
  }
  .block8,
  .div60,
  .div61,
  .jharkhand1,
  .karnataka {
    font-size: var(--font-size-10xl);
    line-height: 34px;
  }
  .block8,
  .jharkhand1,
  .karnataka {
    line-height: 37px;
  }
  .block8,
  .jharkhand1 {
    line-height: 34px;
  }
  .jharkhand1 {
    line-height: 37px;
  }
  .grid-row2 {
    gap: var(--gap-xl);
    padding-left: var(--padding-51xl);
    box-sizing: border-box;
  }
  .kerala1 {
    font-size: var(--font-size-10xl);
    line-height: 37px;
  }
  .rectangle-parent41 {
    flex-wrap: wrap;
  }
  .block10,
  .block11,
  .block14,
  .div62,
  .manipur1 {
    font-size: var(--font-size-10xl);
    line-height: 34px;
  }
  .block14,
  .manipur1 {
    line-height: 37px;
  }
  .block14 {
    line-height: 34px;
  }
  .block15,
  .block16,
  .mizoram,
  .nagaland1,
  .odisha1 {
    font-size: var(--font-size-10xl);
    line-height: 37px;
  }
  .block15,
  .block16,
  .odisha1 {
    line-height: 34px;
  }
  .odisha1 {
    line-height: 37px;
  }
  .block18,
  .block19,
  .punjab1,
  .rajasthan1 {
    font-size: var(--font-size-10xl);
    line-height: 34px;
  }
  .block19,
  .punjab1,
  .rajasthan1 {
    line-height: 37px;
  }
  .block19,
  .rajasthan1 {
    line-height: 34px;
  }
  .rajasthan1 {
    line-height: 37px;
  }
  .state-grid1 {
    height: auto;
    min-height: 960;
  }
  .div63,
  .tamil-nadu {
    font-size: var(--font-size-10xl);
    line-height: 37px;
  }
  .div63 {
    line-height: 34px;
  }
}
@media screen and (max-width: 450px) {
  .indias-rich-culture-container2 {
    font-size: var(--font-size-3xl);
  }
  .never-stop5 {
    font-size: var(--font-size-10xl);
    line-height: 37px;
  }
  .exploring2 {
    font-size: var(--font-size-13xl);
  }
  .button-block {
    gap: var(--gap-5xl);
  }
  .exploring-block {
    gap: var(--gap-74xl);
  }
  .arunachal-pradesh,
  .block1,
  .div59 {
    font-size: var(--font-size-3xl);
    line-height: 25px;
  }
  .arunachal-pradesh,
  .div59 {
    line-height: 28px;
  }
  .div59 {
    line-height: 25px;
  }
  .andaman-and-nicobar,
  .bihar,
  .block2 {
    font-size: var(--font-size-3xl);
    line-height: 28px;
  }
  .bihar,
  .block2 {
    line-height: 25px;
  }
  .bihar {
    line-height: 28px;
  }
  .kerala-block {
    gap: var(--gap-2xl);
    flex-wrap: wrap;
  }
  .block3,
  .chhattisgarh {
    font-size: var(--font-size-3xl);
    line-height: 25px;
  }
  .chhattisgarh {
    line-height: 28px;
  }
  .chhattisgarh-block {
    gap: var(--gap-2xl);
  }
  .block4,
  .block5,
  .chandigarh,
  .goa {
    font-size: var(--font-size-3xl);
    line-height: 28px;
  }
  .block4,
  .block5,
  .goa {
    line-height: 25px;
  }
  .goa {
    line-height: 28px;
  }
  .goa-block {
    gap: var(--gap-2xl);
  }
  .block6,
  .gujarat {
    font-size: var(--font-size-3xl);
    line-height: 25px;
  }
  .gujarat {
    line-height: 28px;
  }
  .goa-block1 {
    gap: var(--gap-2xl);
  }
  .div60,
  .div61,
  .haryana {
    font-size: var(--font-size-3xl);
    line-height: 28px;
  }
  .div60,
  .div61 {
    line-height: 25px;
  }
  .block8,
  .jharkhand1,
  .karnataka {
    font-size: var(--font-size-3xl);
    line-height: 28px;
  }
  .block8,
  .jharkhand1 {
    line-height: 25px;
  }
  .jharkhand1 {
    line-height: 28px;
  }
  .grid-row2 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .kerala1 {
    font-size: var(--font-size-3xl);
    line-height: 28px;
  }
  .rectangle-parent41 {
    gap: var(--gap-2xl);
  }
  .block10 {
    font-size: var(--font-size-3xl);
    line-height: 25px;
  }
  .grid-row3 {
    flex-wrap: wrap;
  }
  .block11,
  .div62 {
    font-size: var(--font-size-3xl);
    line-height: 25px;
  }
  .meghalaya {
    flex-wrap: wrap;
  }
  .manipur1 {
    font-size: var(--font-size-3xl);
    line-height: 28px;
  }
  .manipur {
    flex-wrap: wrap;
  }
  .block14,
  .mizoram {
    font-size: var(--font-size-3xl);
    line-height: 25px;
  }
  .mizoram {
    line-height: 28px;
  }
  .mizoram-block {
    flex-wrap: wrap;
  }
  .block15,
  .block16,
  .nagaland1,
  .odisha1 {
    font-size: var(--font-size-3xl);
    line-height: 28px;
  }
  .block15,
  .block16,
  .odisha1 {
    line-height: 25px;
  }
  .odisha1 {
    line-height: 28px;
  }
  .odisha-block {
    flex-wrap: wrap;
  }
  .block18,
  .punjab1 {
    font-size: var(--font-size-3xl);
    line-height: 25px;
  }
  .punjab1 {
    line-height: 28px;
  }
  .punjab {
    flex-wrap: wrap;
  }
  .block19,
  .rajasthan1 {
    font-size: var(--font-size-3xl);
    line-height: 25px;
  }
  .rajasthan1 {
    line-height: 28px;
  }
  .rajasthan {
    flex-wrap: wrap;
  }
  .div63,
  .tamil-nadu {
    font-size: var(--font-size-3xl);
    line-height: 28px;
  }
  .div63 {
    line-height: 25px;
  }
}
